
:root {
  --small-text: 0.9em;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    max-width: 1000px;
    margin: auto;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
/*Navigation*/
.nav__container {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
}
.disp-style, .loggIn {
    flex-basis: 50%;
    font-size: var(--small-text);
}
.disp-style{
    text-align: right;
}
.logo {
    flex-basis: 100%;
    font-family: 'Cabin Sketch', cursive;
    font-size: 4.2em;
    color: rgb(87, 85, 85);
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
    background:
        linear-gradient(to left, rgba(255,255,255,0.5),rgba(255,255,255,0.9), rgba(255,0255,255,0.5)),
        repeat-x  center/40% url("./06.jpg");
    margin: 0px auto 0px auto;
}
.link__add{
    display: none;
}
/*Sorting options*/
.sorting_options__contaier{
    flex-basis: 100%;
}
.sorting_options__buttons {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
}
.btn__sorting, .btn__add{
    flex-basis: 24.9%;
    font-size: 1.1em;
}
.sorting_options__radio {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    align-items: baseline;
}
.sorting_options__p {
    flex-basis: 15%;
}
.sorting_options__radio label {
    flex-basis: 20%;
}
/*TODO List*/
.list__container{
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    list-style-type: none;
}
.table__content{
    display: none;
}
li {
    background-color: darkseagreen;
    margin: 5px;
    flex: 1 1 32%;
    min-width: 180px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    border-radius: 10px;
}
li:last-child {
    flex: 1 1 32%;
}
.title{   
    font-size: 1.2em;
    min-height: 2.8em;
    margin-bottom: .4em;
}
.importance{
    flex-basis: 100%;
    text-align: center;
    margin: 5px auto 5px auto;
    font-size: 1.1em;
}
.description {
    margin-top: 0;
}
li span {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.created,.finish{
    flex-basis: 100%;
    font-size: var(--small-text);
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    align-self: flex-end;
    margin: 5px auto 5px auto;
}
.done {
    flex-basis: 100%;
    text-align: center;
    align-self: flex-end;
    font-size: 1.8em;
    margin: 5px auto 5px auto;
}
.edit {
   font-size: var(--small-text);
   align-self: flex-end;
   text-decoration: underline;
}
/*Footer*/
footer {
    max-width: 1200px;
    margin:auto;
    font-size: var(--small-text);
}



